{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NC 우승</title>
    {% bootstrap_css %}
    <script src="https://kit.fontawesome.com/7c8f649667.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'movies:movie_list'%}">무비무비</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'movies:movie_list'%}">Home</a>
                {% if request.user.is_authenticated %}
                    welcome {{request.user.username}}
                <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
                <a class="nav-item nav-link" href="{% url 'accounts:login' %}">로그인</a>
                {% endif %}
            </div>
        </div>
    </nav>




    <div class='container'>
    {% block content %}
    {% endblock content %}
    </div>


    {% block script %}
    {% endblock script %}
{% bootstrap_javascript jquery='full' %}
</body>
</html>